.pics img{
    width:200px;
    height:200px;
}
.pics{
    display:flex;
    justify-content:space-around;
    background-color:#ecfffd;
}
.header {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#88c399;
}
.images {
    text-align:center;
}
.images img{
    height:400px;
    
}
.donate {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#b9f6ca;
}
.eagles {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#ff8a80;
}